<clr-header class="header" [ngClass]="headerClass">

  <div class="header-nav" [clr-nav-level]="1">
    <a [routerLink]='"nav"' class="nav-link" [routerLinkActive]="'active'" (click)="navigateLast()">
      <span class="nav-text">
        <clr-icon shape="bug" class="is-solid"></clr-icon>
      </span>
    </a>
    <a [routerLink]='"lab"' class="nav-link" *ngIf="lab" [routerLinkActive]="'active'">
      <span class="nav-text" [ngClass]="{'has-badge': labBadge}">
        <clr-icon shape="flask" class="is-solid"></clr-icon>
      </span>
    </a>
    <a [routerLink]='"travel"' class="nav-link" *ngIf="travel" [routerLinkActive]="'active'">
      <span class="nav-text">
        <clr-icon shape="world" class="is-solid" [ngClass]="{'has-badge': travelBadge}"></clr-icon>
      </span>
    </a>
    <a [routerLink]='"pre"' class="nav-link" *ngIf="prestige" [routerLinkActive]="'active'">
      <span class="nav-text">
        <clr-icon shape="store" class="is-solid"></clr-icon>
      </span>
    </a>
    <a [routerLink]='"mast"' class="nav-link" [routerLinkActive]="'active'">
      <span class="nav-text">
        <clr-icon shape="star" class="is-solid"></clr-icon>
      </span>
    </a>
  </div>

  <div class="header-actions">

    <form class="search">
      <label id="multiLabel" for="multi">N:&nbsp;</label>
      <input class="multiBuy" min="1" id="multi" type="number" name="buyMulti" placeholder="Buy multiplier" [(ngModel)]="buyMulti">
    </form>

    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="tools"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">

        <clr-dropdown *ngIf="ms.game.allPrestige.time.timeProducer.quantity.gt(0)">
          <button type="button" clrDropdownTrigger>Time Warp</button>
          <clr-dropdown-menu clrPosition="left-top">
            <a clrDropdownItem (click)="warp(p)" *ngFor="let p of minuteWarps" [ngClass]="{'disabled': !warpAv(p)}">
              Warp {{p}} minutes
            </a>
          </clr-dropdown-menu>
        </clr-dropdown>

        <a clrDropdownItem (click)="all100()">All 100%</a>

        <clr-dropdown *ngFor="let list of groupNoEnemy; trackBy:getListId">
          <button type="button" clrDropdownTrigger>{{list.name}}</button>
          <clr-dropdown-menu clrPosition="left-top">
            <a clrDropdownItem (click)="list.buyN(buyMulti)">Buy n</a>
            <a clrDropdownItem (click)="list.buyTeam(buyMulti)" *ngIf="ms.game.researches.team2.done">Team n</a>
            <a clrDropdownItem (click)="list.buyTwins(buyMulti)" *ngIf="ms.game.researches.twin.done">Twins n</a>
            <a clrDropdownItem (click)="allCustom(p, list)" *ngFor="let p of percentPreset">
              {{p}}%
            </a>
          </clr-dropdown-menu>
        </clr-dropdown>

      </clr-dropdown-menu>
    </clr-dropdown>

    <a href="javascript://" class="nav-link nav-icon">
      <clr-icon shape="clock" (click)="openTimeModal()" class="is-solid"></clr-icon>
    </a>
    <a href="javascript://" class="nav-link nav-icon">
      <clr-icon [attr.shape]="ms.game.isPaused ? 'play' : 'pause'" (click)="ms.game.isPaused = ! ms.game.isPaused" class="is-solid"></clr-icon>
    </a>
    <a [routerLink]="'opt/save/'" class="nav-link nav-icon" [routerLinkActive]="'active'">
      <clr-icon shape="cog" class="is-solid"></clr-icon>
    </a>
  </div>

</clr-header>

<clr-modal [(clrModalOpen)]="timeModal" [clrModalSize]="'lg'">
  <h3 class="modal-title">Time Warp</h3>
  <div class="modal-body actMinH" *ngIf="ms.game.actMin && ms.game.actHour">
    <span> You can skip {{ms.game.time.quantity | endIn}}:
      <span class="monospace">
        {{ms.game.time.quantity | format}} s
      </span>
    </span>
    <div class="clr-row">
      <div class="clr-col-6">
        <app-action [action]="ms.game.actMin"></app-action>
      </div>
      <div class="clr-col-6">
        <app-action [action]="ms.game.actHour"></app-action>
      </div>
    </div>
  </div>
</clr-modal>
