<clr-header class="header header-6">

  <div class="header-nav" [clr-nav-level]="1">
    <a [routerLink]='"nav/unit"' class="active nav-link" [routerLinkActive]="'active'">
      <span class="nav-text">Units</span>
    </a>
    <a [routerLink]='"lab"' class="active nav-link" *ngIf="lab" [routerLinkActive]="'active'">
      <span class="nav-text">Lab</span>
    </a>
  </div>

  <div class="header-actions">
    <a [routerLink]="'opt/save/'" class="nav-link nav-icon">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>

</clr-header>
