<h1>Here you can travel to a new world.</h1>


<clr-alert [clrAlertType]="'alert-success'"
           [clrAlertClosable]="false"
           *ngIf="ms.game.canTravel; else warn">
  <div class="alert-item">
    <span class="alert-text">
      You will get
      <span class="monospace">{{ms.game.currentWorld.prestige}} </span>
      experience

      <span *ngIf="ms.game.hasSecondMastery()">
        and one mastery point
      </span>
    </span>
  </div>
</clr-alert>

<ng-template #warn>
  <clr-alert [clrAlertType]="'alert-danger'"
             [clrAlertClosable]="false">
    <div class="alert-item">
      <span class="alert-text">
        You are skipping. You will get nothing !
      </span>
    </div>
  </clr-alert>
</ng-template>


<clr-alert [clrAlertType]="'alert-warning'"
           [clrAlertClosable]="false"
           *ngIf="!ms.game.researches.mastery.done">
  <div class="alert-item ">
    <span class="alert-text">
      Mastery research not done.
    </span>
  </div>
</clr-alert>

<button class="btn"
        (click)="randomize()">Randomize</button>

<span>
  Min level:
  <span class="monospace">
    {{minLevel | format:true}}
  </span>
</span>
<span>
  Max level:
  <span class="monospace">
    {{maxLevel | format:true}}
  </span>
</span>

<p-slider [(ngModel)]="rangeValues"
          [range]="true"
          [min]="1"
          [max]="maxSafeInt"
          (onChange)="setLevels()"></p-slider>

<!-- <div class="card-columns">
    <app-world [world]="world"
               *ngFor="let world of ms.game.nextWorlds; trackBy:getWorldId"></app-world>
  </div> -->

<div class="clr-row clr-justify-content-center">
  <div *ngFor="let world of ms.game.nextWorlds; trackBy:getWorldId"
       class="worldMaxWidt clr-col-sm-12 clr-col-md-4">
    <app-world [world]="world"></app-world>
  </div>
</div>


<clr-modal [(clrModalOpen)]="travelMessage">
  <h3 class="modal-title">Change world ?</h3>
  <div class="modal-body">
    <p>You will lose everything except prestige upgrade, continue ?</p>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            (click)="travelMessage = false">Cancel</button>
    <button type="button"
            class="btn btn-primary"
            (click)="travel()">Ok</button>
  </div>
</clr-modal>
