.card-title {
  margin-bottom: 0;
}
.card-footer button {
  min-width: 20%;
}
.card-header,
.card-block,
.card-footer {
  padding: 0.3rem 0.5rem;
}
.card-block {
  padding-bottom: 0.15rem;
}
.card-footer {
  padding-top: 0.15rem;
}
