<div class="card-block">
  <div class="card-title">
    {{action.name}}
    <span *ngIf="action.limit.gte(2)"> ({{action.quantity | format}}) </span>
  </div>
  <div class="card-text p">
    {{action.description}}
    <br/>
    <div *ngIf="!action.complete">
      <span>One will cost: </span>
      <app-price-line *ngFor="let price of action.actualPrices; trackBy:getPriceId" [name]="price.base.name" [canBuy]="price.canBuy"
        [price]="price.price"></app-price-line>
    </div>
  </div>
</div>
<div class="card-footer" *ngIf="!action.complete">
  <button *ngIf="!action.canBuy" class="btn btn-sm btn-link" disabled>
    Can't buy
  </button>
  <button *ngIf="action.canBuy" class="btn btn-sm btn-link" (click)="action.buy()">
    Get 1
  </button>
  <button *ngIf="action.maxBuy.gt(3)" class="btn btn-sm btn-link" (click)="action.buy(action.maxBuy.div(2).floor())">
    Get {{action.maxBuy.div(2).floor() | format}}
  </button>
  <button *ngIf="action.maxBuy.gt(2)" class="btn btn-sm btn-link" (click)="action.buy(action.maxBuy)">
    Get {{action.maxBuy | format}}
  </button>
</div>
