<div class="card-block">
  <div class="card-title">
    {{prestige.name}}
  </div>
  <div class="card-text p">
    {{prestige.description}}
    <br/>
    <div *ngIf="!prestige.complete">
      <span>Cost: </span>
      <app-price-line *ngFor="let price of prestige.prices; trackBy:getPriceId" [name]="price.base.name" [canBuy]="price.canBuy"
        [price]="price.price">
      </app-price-line>
    </div>
  </div>
</div>
<div class="card-footer" *ngIf="!prestige.complete">
  <button *ngIf="!prestige.canBuy" class="btn btn-sm btn-link" disabled>
    Can't buy.
  </button>
  <button *ngIf="prestige.canBuy" class="btn btn-sm btn-link" (click)="prestige.buy(prestige.realNum)">
    Research
  </button>
</div>
