<div *ngIf="unitGroup">
  <div class="row">
    <div class="col-xs-12	col-sm-6	col-md-6	col-lg-6	col-xl-6">

      <h1>{{unitGroup.name}}</h1>
      <p>Aggregate group for {{unitGroup.name}}: {{unitsSpan}} </p>

      <div *ngIf="hatchActionGrp">
        <span>Operativity (average): </span>
        <p-slider [min]="0" [max]="100" [step]="0.01" [(ngModel)]="operativity" (onChange)="changeOperativity()" [disabled]="unitGroup.selected.length == 0"
          animate="true"></p-slider>
      </div>

      <app-action-group *ngIf="hatchActionGrp" [actGr]="hatchActionGrp"></app-action-group>
      <app-action-group *ngIf="teamActionGrp && ms.game.researches.team2.done" [actGr]="teamActionGrp"></app-action-group>
      <app-action-group *ngIf="twinActionGrp && ms.game.researches.twin.done" [actGr]="twinActionGrp"></app-action-group>

    </div>
    <div class="col-xs-12	col-sm-6	col-md-6	col-lg-6	col-xl-6">
      <h6> Stats: </h6>
      <clr-datagrid class="datagrid-compact" [(clrDgSelected)]="unitGroup.selected" (clrDgSelectedChange)="selectedChanged($event)">

        <clr-dg-column [clrDgField]="'unit.name'">Name</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="unitQuantitySorter">
          <span *ngIf="!isSmall">Quantity</span>
          <span *ngIf="isSmall">Q. B.</span>
          <span *ngIf="team && isSmall">Te.</span>
          <span *ngIf="twin && isSmall">Tw.</span>
        </clr-dg-column>
        <clr-dg-column [clrDgSortBy]="unitBoughtSorter" *ngIf="!isSmall">Bought</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="unitTeamSorter" *ngIf="team && !isSmall">Team</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="unitTwinSorter" *ngIf="twin && !isSmall">Twin</clr-dg-column>

        <clr-dg-row *clrDgItems="let unit of unitGroup.unlocked" [clrDgItem]="unit">
          <clr-dg-cell>
            <a [routerLink]="'/nav/unit/'+unit.id">
              {{unit.name}}
            </a>
          </clr-dg-cell>
          <clr-dg-cell>
            <span *ngIf="!isSmall" class="monospace">{{unit.uiQuantity | format: true}}</span>
            <span *ngIf="isSmall" class="monospace">
              {{unit.quantity | format: true}} - {{unit.buyAction.uiQuantity | format: true}}
              <span *ngIf="team && isSmall" class="monospace">- {{unit.teamAction.uiQuantity | format: true}}</span>
              <span *ngIf="twin && isSmall" class="monospace">- {{unit.twinAction.uiQuantity | format: true}}</span>
            </span>
          </clr-dg-cell>
          <clr-dg-cell *ngIf="!isSmall" class="monospace">
            {{unit.buyAction?.quantity | format: true}}
          </clr-dg-cell>
          <clr-dg-cell *ngIf="team && !isSmall" class="monospace">
            {{unit.teamAction?.quantity | format: true}}
          </clr-dg-cell>
          <clr-dg-cell *ngIf="twin && !isSmall" class="monospace">
            {{unit.twinAction?.quantity | format: true}}
          </clr-dg-cell>
        </clr-dg-row>


      </clr-datagrid>

      <div class="pieContainer">
        <canvas baseChart [data]="unitGroup.chartData" [labels]="unitGroup.chartLabels" [chartType]="'pie'">
        </canvas>
      </div>

    </div>

  </div>
</div>
