<h1>Credits</h1>
<p>
  Idle Ant 2 is an incremental game about ants.
  <br /> The game uses Angular 6 and Clarity Design System
  <a target="_blank"
     href="https://github.com/scorzy/IdleAnt2/blob/master/package.json">list of used package</a>.
</p>

<ul lass="list">
  <li>Code:
    <a target="_blank"
       href="https://github.com/scorzy/IdleAnt2">https://github.com/scorzy/IdleAnt2</a>
  </li>
  <li>SubReddit:
    <a target="_blank"
       href="https://www.reddit.com/r/IdleAnts/">https://www.reddit.com/r/IdleAnts/</a>
  </li>
</ul>
