:host /deep/ .clr-treenode-content:first-child {
  padding-left: 0;
}
:host /deep/ .clr-treenode-content {
  line-height: 1.1rem;
}
.qta {
  float: right;
  padding-right: 0.35rem;
}
.fullWidth {
  width: 100% !important;
}
:host /deep/ .clr-treenode-children {
  margin-left: 0.3rem;
}
