<router-outlet></router-outlet>
<nav class="sidenav" [clr-nav-level]="2">
  <section class="sidenav-content">

    <clr-tree-node *ngFor="let unitGroup of game.unlockedGroups; trackBy:getListId">

      <span class="font-weight-bold">
        <clr-icon class="alert-icon is-error" shape="exclamation-triangle" *ngIf="unitGroup.isEnding"></clr-icon>
        {{unitGroup.name}}
      </span>

      <ng-template [(clrIfExpanded)]="unitGroup.isExpanded">

        <div class="unit-group">
          <clr-tree-node *ngFor="let g of unitGroup.unlocked; trackBy:getUnitId">

            <app-unit-line [id]="g.id" [name]="g.name" [quantity]="g.quantity" [perSec]="g.c"></app-unit-line>

            <!-- <a [routerLink]="['./unit/'+g.id]" class="clr-treenode-link" routerLinkActive="active">
              <span class="resName">
                <clr-icon class="is-info" shape="angle-double" *ngIf="g.showUp"></clr-icon>
                <clr-icon class="alert-icon is-error" shape="exclamation-triangle" *ngIf="g.isEnding()"></clr-icon>
                <clr-icon class="is-warning is-solid" shape="pause" *ngIf="g.isStopped()" (click)="g.percentage = 100"></clr-icon>

                {{g.name}}
              </span>
              <span class="perSec">
                <span *ngIf="g.totalPerSec.abs().greaterThan(0.001)">
                  {{g.totalPerSec | format:true}}/s
                </span>
              </span>
              <span class="qta">{{g.quantity | format}}</span>
            </a> -->

          </clr-tree-node>
        </div>

      </ng-template>

    </clr-tree-node>

  </section>
</nav>
