<clr-main-container *ngIf="ms.show"
                    [@fadeInOut]>
  <app-header [lab]="ms.game.tabs.lab.unlocked"
              [labBadge]="ms.game.canBuyResearch"
              [travel]="ms.game.tabs.travel.unlocked"
              [autoBuy]="ms.game.tabs.autoBuy.unlocked"
              [travelBadge]="ms.game.canTravel"
              [prestige]="ms.game.tabs.prestige.unlocked"
              [mastery]="ms.game.tabs.mastery.unlocked">
  </app-header>
  <app-material-nav *ngIf="os.materialPosition != 3"></app-material-nav>

  <router-outlet></router-outlet>


</clr-main-container>
