<clr-main-container>
  <app-header [lab]="ms.game.tabs.lab.unlocked" [labBadge]="ms.game.canBuyResearch" [travel]="ms.game.tabs.travel.unlocked"
    [autoBuy]="ms.game.tabs.autoBuy.unlocked" [travelBadge]="ms.game.canTravel" [prestige]="ms.game.tabs.prestige.unlocked"
    [mastery]="ms.game.tabs.mastery.unlocked">
  </app-header>
  <app-material-nav></app-material-nav>
  <!-- <div class="content-container"> -->
  <router-outlet></router-outlet>
  <!-- </div> -->

  <clr-modal [(clrModalOpen)]="travelMessage">
    <h3 class="modal-title">Change world ?</h3>
    <div class="modal-body">
      <p>You will lose everything except prestige upgrade, continue ?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="travelMessage = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="travel()">Ok</button>
    </div>
  </clr-modal>

</clr-main-container>
