$padding: 0.35rem;
:host /deep/ .content-container .content-area {
  padding: $padding $padding $padding $padding;
}
:host /deep/ h1 {
  margin-top: 0;
}
:host /deep/ p {
  margin-top: 0;
}
:host /deep/ .monospace {
  font-family: Consolas, Monaco, Courier, monospace !important;
  font-size: 90%;
}

:host /deep/ nouislider {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
:host /deep/ .noEnought {
  color: #c92100;
}
:host /deep/ .card {
  margin-top: 0.4rem;
}
:host /deep/ h6 {
  margin-top: 0.6rem;
}
app-material-nav {
  min-height: fit-content;
}
