<div class="content-area">
  <h1>Auto buyers</h1>
  <p>
    Other AutoBuyer can be found on single unit page. AutoBuyer execution is
    orderer by priority, ascending (es: -5 priority execute before 100
    priority). Min interval is 1 sec, after that you get multibuy.
  </p>
  <form>
    <section class="form-block">
      <div class="form-group">
        <button class="btn btn-danger-outline" (click)="openRefundModal()">
          Refund
        </button>

        <label>Options:</label>

        <clr-checkbox-wrapper>
          <input
            type="checkbox"
            clrCheckbox
            name="on"
            [(ngModel)]="ms.game.autoBuyManager.enabled"
          />
          <label>ON</label>
        </clr-checkbox-wrapper>

        <clr-checkbox-wrapper>
          <input
            type="checkbox"
            clrCheckbox
            name=" Multi Buy"
            [(ngModel)]="ms.game.autoBuyManager.multiBuy"
          />
          <label>Multi Buy</label>
        </clr-checkbox-wrapper>
      </div>
    </section>
  </form>

  <div class="clr-row">
    <div
      class="clr-col-12	clr-col-sm-12	clr-col-md-10	clr-col-lg-6	clr-col-xl-5"
      *ngFor="let autoB of unlSpecial; trackBy: getAutoBuyId"
    >
      <div class="card">
        <div class="card-block">
          <app-auto-buy [autoBuy]="autoB"></app-auto-buy>
        </div>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="swowRefundModal">
  <h3 class="modal-title">Refund autobuyers</h3>
  <div class="modal-body">
    <p>
      Refund all autobuyers
      <span class="monospace">{{ totalRefSkill | format }}</span> skill
      experience?
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="swowRefundModal = false"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="refund()">
      Ok
    </button>
  </div>
</clr-modal>
