<div class="content-area">
  <h1>Auto buyers</h1>
  <form>
    <section class="form-block">
      <div class="form-group">
        <label>Options:</label>
        <clr-checkbox [name]="'on'"
                      [id]="'on1'"
                      [(clrChecked)]="ms.game.autoBuyManager.enabled"
                      [clrInline]="true">
          ON
        </clr-checkbox>
        <clr-checkbox [name]="'multi'"
                      [id]="'multi1'"
                      [(clrChecked)]="ms.game.autoBuyManager.multiBuy"
                      [clrInline]="true">
          Multi Buy
        </clr-checkbox>
      </div>
    </section>
  </form>

  <div class="clr-row">
    <div class="clr-col-12	clr-col-sm-12	clr-col-md-10	clr-col-lg-6	clr-col-xl-5"
         *ngFor="let autoB of unlSpecial; trackBy:getAutoBuyId">
      <div class="card">
        <div class="card-block">
          <app-auto-buy [autoBuy]="autoB"></app-auto-buy>
        </div>
      </div>
    </div>
  </div>

</div>
