<clr-signpost>
  <clr-signpost-content *clrIfOpen="open" [clrPosition]="'left-middle'">
    <h3>{{production.product.name}}:</h3>
    <ul class="list">
      <li [class.noEnought]="production.rateo.lt(0)">Base production: {{production.rateo | format}}</li>
      <li *ngIf="ms.game.researches.team1.done && production.productor.buyAction">
        Teamwork bonus: +{{production.productor.bonus | format}}%
      </li>
      <li>
        Operativity: {{production.productor.efficiency}}%
      </li>
      <li *ngFor="let bon of productionsBonus; trackBy getProdID">
        {{bon.unit.name}}: +{{bon.getBonus() | format }}%
      </li>
    </ul>
  </clr-signpost-content>
</clr-signpost>
