<div *ngIf="bought" class="progress-static top">
  <div class="progress-meter" [attr.data-value]="progress"></div>
</div>
<app-action-header [action]="autoBuy" [quantity]="autoBuy.quantity"></app-action-header>

<div class="clr-row clr-align-items-start" *ngIf="bought">
  <div class="clr-col">

    <label>Priority:</label>
    <input clrInput placeholder="Priority" name="name" [(ngModel)]="autoBuy.priority" type="number" placeholder="1" step="1"
      min="1" size="3" (change)="reload()" />

  </div>
  <div class="clr-col">
    <clr-checkbox [name]="autoBuy.id" [id]="autoBuy.id" [(clrChecked)]="autoBuy.active" [clrInline]="true">
      Active
    </clr-checkbox>
  </div>

</div>
<div class="clr-row clr-align-items-start" *ngIf="bought">
  <div class="clr-col">
    <span>
      Interval:
      <span class="monospace">{{autoBuy.max}} </span>
      s
    </span>
    <span *ngIf="autoBuy.multiBuy.gt(1)">
      Multi Buy:
      <span class="monospace">{{autoBuy.multiBuy | format:true}} </span>
    </span>
  </div>
</div>

<app-buttons [action]="autoBuy"></app-buttons>
