.clr-row {
  margin-right: 0;
  margin-left: 0;
}

app-production-signposts {
  float: right;
  margin-top: -0.4rem;
  margin-bottom: -0.4rem;
}
.inline {
  display: inline;
}
h5 {
  margin-bottom: 15px;
  margin-top: 8px;
}
