.nav .nav-link {
  line-height: 0.8rem;
}
.matTab {
  width: 100%;
  max-width: 200px;
  min-width: 130px;
  text-align: left;
}
ul {
  min-height: fit-content;
}
a {
  width: 100%;
}
.perSecTab {
  float: right;
  width: 45%;
}
li {
  padding-left: 1rem;
}
.navMat {
  padding-left: 0 !important;
}
// clr-icon {
//   height: 0.8rem !important;
// }
