/* You can add global styles to this file, and also import other style files */
html {
  font-size: 24px;
}
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
}
