<div *ngIf="!action.complete">
  <input *ngIf="!action.isLimited || action.limit.gte(2); else one" id="userNum" [(ngModel)]="action.userNum" (change)="action.reloadUserPrices()"
    type="number" placeholder="1" step="1" min="1" size="3">
  <ng-template #one>1</ng-template>
  <span> will cost: </span>
  <app-price-line *ngFor="let price of action.prices; trackBy:getPriceId" [name]="price.base.name" [canBuy]="price.userCanBuy"
    [price]="price.priceUser"></app-price-line>
</div>

<div *ngIf="!action.complete" class="btn-group">
  <button *ngIf="!action.canBuy" class="btn btn-sm w-100" disabled>
    Can't buy.
    <span *ngIf="showTime">Available in {{action.availableIn | endIn}}</span>
  </button>
  <app-cant-buy-signposts *ngIf="showTime && !action.canBuy" [action]="action"></app-cant-buy-signposts>
  <button *ngIf="action.canBuy" class="btn btn-sm w-100" (click)="action.buy(action.realNum)" [disabled]="!action.canUserBuy">
    Get
    <span *ngIf="!action.isLimited || action.limit.gte(2)">
      {{action.realNum | format: true}}
    </span>
  </button>
  <button *ngIf="action.maxBuy.gt(3)" class="btn btn-sm w-100" (click)="action.buy(action.maxBuy.div(2).floor())">
    Get {{action.maxBuy.div(2).floor() | format: true}}
  </button>
  <button *ngIf="action.maxBuy.gte(2)" class="btn btn-sm w-100" (click)="action.buy(action.maxBuy)">
    Get {{action.maxBuy | format: true}}
  </button>
</div>
