#network {
  height: 100%;
  width: 100%;
}
.clr-vertical-nav {
  width: 15rem;
}
.btn {
  margin: 0;
  color: #007cbb;
  margin: 1rem;
}
.clr-vertical-nav.is-collapsed .btn {
  display: none;
}
.clr-vertical-nav .nav-link.active,
.clr-vertical-nav .nav-link:hover {
  background-color: transparent;
}
