<div class="content-area">
  <div id="network"
       #network></div>
</div>
<clr-vertical-nav [clrVerticalNavCollapsible]="true"
                  class="nav-trigger--bottom">

  <a clrVerticalNavLink>
    <h6>Mastery
      <span class="monospace"
            *ngIf="ms.game.allMateries.masteryPoint > 0">{{ms.game.allMateries.masteryPoint}}</span>
    </h6>
  </a>
  <div *ngIf="!node; else buy">
    <a clrVerticalNavLink
       id="infoStart"
       *ngIf="list.length ==0">
      <clr-alert [clrAlertType]="'alert-success'"
                 [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            Start on one green node.
          </span>
        </clr-alert-item>
      </clr-alert>
    </a>
    <a clrVerticalNavLink
       *ngFor="let desc of list; trackBy:getDescId">
      {{desc}}
    </a>
  </div>
  <ng-template #buy>
    <p clrVerticalNavLink>{{node.label}}</p>
    <button class="btn btn-success-outline"
            *ngIf="node.available && !node.owned"
            [disabled]="ms.game.allMateries.masteryPoint <1"
            (click)="buyMastery()">
      Buy
    </button>
  </ng-template>
  <button class="btn btn-warning-outline"
          *ngIf="ms.game.allMateries.totalEarned > 0 && (ms.game.allMateries.totalEarned != ms.game.allMateries.masteryPoint )"
          (click)="showReset = true">
    Reset
  </button>



  <!-- Debug Stuff -->
  <!-- <button class="btn"
          (click)="export()">
    Export positions
  </button>
  <textarea name="raw"
            [(ngModel)]="exp"
            rows="1"></textarea> -->

</clr-vertical-nav>


<clr-modal [(clrModalOpen)]="showReset"
           [clrModalClosable]="true">
  <h3 class="modal-title">Mastery Reset</h3>
  <div class="modal-body">
    <p>
      Reset Mastery, you available Mastery points will be {{ms.game.allMateries.totalEarned}}
      <br />
      You will move to base world with no reward.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            (click)="showReset = false">Cancel</button>
    <button type="button"
            class="btn btn-primary"
            (click)="reset()">Reset</button>
  </div>
</clr-modal>
