.qta {
  float: right;
  padding-right: 0.35rem;
}
.resName {
  display: inline-block;
  width: 50%;
}

.perSec {
  width: 25%;
  text-align: right;
  padding-right: 5%;
}

a {
  padding-left: 0.5rem;
}
