<a [routerLink]="['./unit/'+id]" class="clr-treenode-link" routerLinkActive="active">
  <span class="resName">
    <!-- <clr-icon class="is-info" shape="angle-double" *ngIf="g.showUp"></clr-icon>
      <clr-icon class="alert-icon is-error" shape="exclamation-triangle" *ngIf="g.isEnding()"></clr-icon>
      <clr-icon class="is-warning is-solid" shape="pause" *ngIf="g.isStopped()" (click)="g.percentage = 100"></clr-icon> -->

    {{name}}
  </span>
  <span class="perSec">
    <span *ngIf="perSec.abs().gt(0.001)">
      {{perSec | format}}/s
    </span>
  </span>
  <span class="qta">{{quantity | format}}</span>
</a>
